<div *ngIf="!empty; else elseBlock">

  <section id="di-lyt" *ngIf="!simpleLayout; else anotherLayout">
    <div class="container-fluid hero-container" id="hero" [ngStyle]="{ 'background': 'linear-gradient(to top right, #F9FCFF 55%, transparent 45%), url('+ hero +') center/cover'}">
      <div class="mobile-bg d-lg-none" [ngStyle]="{'background':  'url('+ hero +') center/cover no-repeat'}"></div>
      <div class="hero-text">
        <div class="seller-logo">
          <img [src]="logo" [hidden]='errorLoadingLogo' (error)='errorLoadLogo($event)' class="logo" alt="">
        </div>
        <h1 class="seller-name text-uppercase">{{store.name}}</h1>
        <p class="seller-description">
          {{store.description}}
        </p>

        <div id="brands" class="brands-container" *ngIf="brands.length > 0">
          <h3 class="text-uppercase">Brands</h3>
      
          <div class="brands-list" [class.eighty-percent]="brands.length > 7">
            <div class="brand-logo" *ngFor="let i of brands">
              <img [src]="base + i" alt="">
            </div>
            
          </div>
        </div>
      
        <div id="certifications" class="cert-container" *ngIf="certs.length > 0">
          <h3 class="text-uppercase">Certifications</h3>
      
          <div class="cert-list">
            <div class="cert-logo" *ngFor="let i of certs">
              <img [src]="base + i" alt="">                  
            </div>

          </div>
        </div>

       
      </div>
    </div>
  </section>

  <ng-template #anotherLayout>
    <section id="hor-lyt">
      <header id='hero' class="hero-container" [ngStyle]="{'background':  'url('+ hero +') center/cover no-repeat'}">
      </header>
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 col-md-11 mx-auto">
            <div class="hero-text">
              <div class="seller-logo">
                <img src="https://via.placeholder.com/150" class="" alt="">
              </div>
            
              <h1 class="seller-name text-uppercase">{{store.name}}</h1>
              <p class="seller-description">
                {{store.description}}
              </p>
            
              <div id="brands" class="brands-container" *ngIf="brands.length > 0">
                <h3 class="text-uppercase">Brands</h3>
            
                <div class="brands-list" >
                  <div class="brand-logo" *ngFor="let i of brands">
                    <img [src]="base + i" alt="">
                  </div>
                  
                </div>
              </div>
            
              <div id="certifications" class="cert-container" *ngIf="certs.length > 0">
                <h3 class="text-uppercase">Certifications</h3>
            
                <div class="cert-list">
                  <div class="cert-logo" *ngFor="let i of certs">
                    <img [src]="base + i" alt="">                  
                  </div>

                </div>
              </div>
              
            
             
            </div>
          </div>
        </div>
      </div>
    </section>
  </ng-template>
  

  <section id="prodcuts">
    <div class="container-fluid product-list">
      <div class="row">
        <!-- <div class="col-xl-4 col-lg-4 col-md-6 result" *ngFor="let product of products; let i=index">
          <div class="single-product-box">
            <div class="product-header">
              <div class="row">
                <div class="col-md-12 text-uppercase">
                  <h5>{{'SingleStore.location' | translate}}: {{product.country}}</h5>
                </div>
              </div>
            </div>
            <div class="product-body">
              <a  class="image-link-holder">
                <div class="product-single-img" [style.background-image]="productImage[i]">
                  <div class="product-overlay"></div>
            
                  <h2 class="product-view-details">{{product.name}}</h2>
            
                </div>
              </a>
            </div>
            <div class="product-footer">
              <h4>{{product.name}}</h4>
            </div>
          </div>
        </div> -->
        <div  *ngFor="let product of products; let i=index" class="col-xl-4 col-lg-4 col-md-6">
          <div *ngIf="product[1].count == 1" class="class1 class2 class3 coming-{{product[1].variations[0].cooming_soon}} {{product[1].variations[0].type}} {{removeSpaces(product[1].variations[0].country)}} {{i}} {{product[1].variations[0].variation.id }} {{product[1].variations[0].id}} category-{{product[1].variations[0].type}} {{product[1].variations[0].variation.max}} {{product[1].variations[0].variation.min}} {{product[1].variations[0].perBox}} {{product[1].variations[0].minBox}} {{product[1].variations[0].maxBox}} {{( product[1].variations[0].variation.outOfStock || ( (getFixedNumber(product[1].variations[0].variation.max) == 0 && product[1].variations[0].perBox !== true ) || ( product[1].variations[0].perBox == true && getFixedNumber(product[1].variations[0].maxBox) == 0 ) ) )}} {{product[1].variations[0].unitOfSale}}">  
          <div class="single-product-box" >
                <div class="product-header">
                 <div class="row">
                   <div class="col-md-10">
                      <form *ngIf="!product[1].variations[0].variation.outOfStock && ( (getFixedNumber(product[1].variations[0].variation.max) !== 0 && product[1].variations[0].perBox !== true ) || ( product[1].variations[0].perBox == true && getFixedNumber(product[1].variations[0].maxBox) !== 0 ) )">
                          <span *ngIf="product[1].variations[0].perBox != true"  class="amount-span"style="margin-right: 5px;">min <br> {{getFixedNumber(product[1].variations[0].variation.min)}}</span>
                          <span *ngIf="product[1].variations[0].perBox == true"  class="amount-span"style="margin-right: 5px;">min <br> {{getFixedNumber(product[1].variations[0].minBox)}}</span>
                          <div class="my-input-container" *ngIf="userInfo !== null">
                            <input *ngIf="product[1].variations[0].perBox != true" type="number" id="amount-{{product[1].variations[0].variation.id}}" placeholder="enter weight..." class="qty-number" (input)="handleInput($event, product[1].variations[0].variation.max, product[1].variations[0].variation.min, product[1].variations[0].variation.id, product[1].variations[0].type)" (change)="manualInput(product[1].variations[0].variation.max, product[1].variations[0].variation.min, product[1].variations[0].variation.id, product[1].variations[0].type)" (keydown.enter)="manualInput(product[1].variations[0].variation.max, product[1].variations[0].variation.min, product[1].variations[0].variation.id, product[1].variations[0].type)">
                            <input *ngIf="product[1].variations[0].perBox == true" type="number" id="amount-{{product[1].variations[0].variation.id}}" placeholder="enter boxes..." class="qty-number" (input)="handleInput($event, product[1].variations[0].maxBox, product[1].variations[0].minBox, product[1].variations[0].variation.id, product[1].variations[0].type)" (change)="manualInput(product[1].variations[0].maxBox, product[1].variations[0].minBox, product[1].variations[0].variation.id, product[1].variations[0].type)" (keydown.enter)="manualInput(product[1].variations[0].maxBox, product[1].variations[0].minBox, product[1].variations[0].variation.id, product[1].variations[0].type)">
                            <span class="suffix" [hidden]="isVacio('amount-'+product[1].variations[0].variation.id, product[1].variations[0].variation.id+ '-suffix')" [id]="product[1].variations[0].variation.id+ '-suffix'">{{getTag(product[1].variations[0], 'amount-'+product[1].variations[0].variation.id)}}</span>
                          </div>
                          <div class="my-input-container" *ngIf="userInfo === null">
                            <input *ngIf="product[1].variations[0].perBox != true" type="number" id="amount-{{product[1].variations[0].variation.id}}" placeholder="enter weight..." class="qty-number" (input)="addSignUpText(product[1].variations[0].variation.id)" (change)="addSignUpText(product[1].variations[0].variation.id)" (keydown.enter)="addSignUpText(product[1].variations[0].variation.id)">
                            <input *ngIf="product[1].variations[0].perBox == true" type="number" id="amount-{{product[1].variations[0].variation.id}}" placeholder="enter boxes..." class="qty-number" (input)="addSignUpText(product[1].variations[0].variation.id)" (change)="addSignUpText(product[1].variations[0].variation.id)" (keydown.enter)="addSignUpText(product[1].variations[0].variation.id)">
                            <span class="suffix" [hidden]="isVacio('amount-'+product[1].variations[0].variation.id, product[1].variations[0].variation.id+ '-suffix')" [id]="product[1].variations[0].variation.id+ '-suffix'">{{getTag(product[1].variations[0], 'amount-'+product[1].variations[0].variation.id)}}</span>
                          </div>
                          <span *ngIf="product[1].variations[0].perBox != true"  class="amount-span" style="margin-left: 5px;">max <br> {{getFixedNumber(product[1].variations[0].variation.max)}}</span>
                          <span *ngIf="product[1].variations[0].perBox == true"  class="amount-span" style="margin-left: 5px;">max <br> {{getFixedNumber(product[1].variations[0].maxBox)}}</span>
                          <label id="delivere-price-{{product[1].variations[0].variation.id}}"><span>(delivered/kg)</span> AED 12.99</label>
                      </form>
    
                      <div *ngIf="!product[1].variations[0].cooming_soon && ( product[1].variations[0].variation.outOfStock || ( (getFixedNumber(product[1].variations[0].variation.max) == 0 && product[1].variations[0].perBox !== true ) || ( product[1].variations[0].perBox == true && getFixedNumber(product[1].variations[0].maxBox) == 0 ) ) )" > <h4>Out of Stock</h4></div>
                      <div *ngIf="product[1].variations[0].cooming_soon" > <h4>Coming Soon</h4></div>
                    </div>
                   <div class="col-md-2 text-right">
                     <a  *ngIf="userInfo !== null" id="btn-add-{{product[1].variations[0].variation.id}}" [ngClass]="isDisabled == true ? 'btn-add-disable' : 'btn-add-enable'"  (click)="addToCart(product[1].variations[0])"><img src="../../assets/svg/cart-arrow-down.svg" alt=""></a> 
                     <a *ngIf="userInfo === null" id="btn-add-{{product[1].variations[0].variation.id}}" [ngClass]="isDisabled == true ? 'btn-add-disable' : 'btn-add-enable'" disabled  (click)="addToCart(product[1].variations[0])"><img src="../../assets/svg/cart-arrow-down-gray.svg" alt=""></a> 
                   </div>
                 </div>
                </div>
                <div class="product-body">
                  <a [hidden]='product[1].variations[0].perBox===true' *ngIf="!isChange[product[1].variations[0].variation.id]?.status" routerLink="/product/{{product[1].variations[0].id}}/{{product[1].variations[0].variation.min}}/{{getIdVarian(product[1].variations[0])}}/{{product[1].variations[0].variation.id}}" class="image-link-holder">
                    <div class="product-single-img" [style.background-image]="loadImage(product[1].variations[0])">
                      <div class="product-overlay"></div>
                      <h2 class="product-view-details">VIEW DETAILS</h2>                      
                   </div>
                  </a>
                  <a [hidden]='product[1].variations[0].perBox===false||product[1].variations[0].perBox===undefined||product[1].variations[0].perBox===null' *ngIf="!isChange[product[1].variations[0].variation.id]?.status" routerLink="/product/{{product[1].variations[0].id}}/{{product[1].variations[0].minBox}}/{{getIdVarian(product[1].variations[0])}}/{{product[1].variations[0].variation.id}}" class="image-link-holder">
                    <div class="product-single-img" [style.background-image]="loadImage(product[1].variations[0])">
                      <div class="product-overlay"></div>
                      <h2 class="product-view-details">VIEW DETAILS</h2>                      
                   </div>
                  </a>
                  <a *ngIf="isChange[product[1].variations[0].variation.id]?.status" routerLink="/product/{{product[1].variations[0].id}}/{{isChange[product[1].variations[0].variation.id].kg}}/{{getIdVarian(product[1].variations[0])}}/{{product[1].variations[0].variation.id}}" class="image-link-holder">
                    <div class="product-single-img" [style.background-image]="loadImage(product[1].variations[0])">
                      <div class="product-overlay"></div>
                      <h2 class="product-view-details">VIEW DETAILS</h2>                      
                   </div>
                  </a>
                </div>
                <div class="product-footer" >
                  <h4>{{product[1].variations[0].name}} <span *ngIf="product[1].variations[0].variation.fishPreparation != null">({{product[1].variations[0]?.variation?.fishPreparation?.name}})</span> </h4>
                  <h6><a routerLink="/vendor/{{product[1].variations[0]?.store?.id}}">{{product[1].variations[0]?.store?.name}} ({{product[1].variations[0]?.store?.location}})</a> 
                    <span *ngIf="product[1].variations[0].perBox != true"> - In {{product[1].variations[0]?.unitOfSale}}</span>
                    <span *ngIf="product[1].variations[0].perBox == true"> - In Boxes</span>
                  </h6>

                  <div *ngIf='userInfo!==null'>

                    <h5 id="product-price-{{product[1].variations[0].variation.id}}" *ngIf='userInfo!==null&&(product[1].variations[0].variation?.minPrice?.finalPrice) != (product[1].variations[0].variation?.maxPrice?.finalPrice)  && product[1].variations[0].cooming_soon !== true'>AED {{(product[1].variations[0].variation?.minPrice?.finalPrice).toFixed(2)}} <span *ngIf="product[1].variations[0].maxPrice">-</span>{{(product[1].variations[0].maxPrice?.finalPrice).toFixed(2)}} / {{product[1].variations[0].unitOfSale}} <small *ngIf="product[1].variations[0].perBox == true">({{product[1].variations[0].boxWeight}} {{product[1].variations[0].unitOfSale}}/box)</small></h5>
                    <h5 id="product-price-{{product[1].variations[0].variation.id}}" *ngIf='userInfo!==null&&(product[1].variations[0].variation?.minPrice?.finalPrice) == (product[1].variations[0].variation?.maxPrice?.finalPrice)  && product[1].variations[0].cooming_soon !== true'>AED {{(product[1].variations[0].variation?.maxPrice?.finalPrice).toFixed(2)}} / {{product[1].variations[0].unitOfSale}} <small *ngIf="product[1].variations[0].perBox == true">({{product[1].variations[0].boxWeight}} {{product[1].variations[0].unitOfSale}}/box)</small></h5>
                    <h5 *ngIf='userInfo===null' id="product-price-{{product[1].variations[0].variation.id}}" >AED {{product[1].variations[0].variation?.maxPrice?.finalPrice}} / {{product[1].variations[0].unitOfSale}} <small *ngIf="product[1].variations[0].perBox == true">({{product[1].variations[0].boxWeight}} {{product[1].variations[0].unitOfSale}}/box)</small></h5>

                    <p class="eta" *ngIf="product[1].variations[0].cooming_soon !== true"><span>Delivery Date:</span>  {{product[1].variations[0]?.minInventoryDate | date:'fullDate'}}</p>
                  </div>

                </div>

                <div class="signup-box" *ngIf='userInfo===null' style="margin-top: 45px">
                  <button class="signup-btn" routerLink='/register/buyer'>SIGN UP TO VIEW PRICE</button>
                </div>
            </div>
          </div>

          <div *ngIf="product[1].count != 1">
            <nav>
                <div class="tab-content" id="nav-tabContent-{{product[0]}}">
                    <div *ngFor="let subp of product[1].variations; let vari = index;" class="tab-pane fade" [class.active]="vari == 0" [class.show]="vari == 0" id="nav-{{subp?.variation?.id}}" role="tabpanel" aria-labelledby="nav-tab">
                      <div class="class1 class2 class3 coming-{{subp.cooming_soon}} {{subp.type}} {{removeSpaces(subp.country)}} {{i}} {{subp.variation.id }} {{subp.id}} category-{{subp.type}} {{subp.variation.max}} {{subp.variation.min}} {{subp.perBox}} {{subp.minBox}} {{subp.maxBox}} {{(subp.variation.outOfStock || ( (getFixedNumber(subp.variation.max) == 0 && subp.perBox !== true ) || ( subp.perBox == true && getFixedNumber(subp.maxBox) == 0 ) ) )}} {{vari}} {{subp?.unitOfSale}}">
                          <div class="single-product-box" style="margin-bottom: 0;">
                              <div class="product-header">
                               <div class="row">
                                 <div class="col-md-10">
                                 
                                   
                                    <form *ngIf="!subp.variation.outOfStock && ( (getFixedNumber(subp.variation.max) !== 0 && subp.perBox !== true ) || ( subp.perBox == true && getFixedNumber(subp.maxBox) !== 0 ) )">
                                        <span *ngIf="subp.perBox != true"  class="amount-span"style="margin-right: 5px;">min <br> {{getFixedNumber(subp.variation.min)}}</span>
                                        <span *ngIf="subp.perBox == true"  class="amount-span"style="margin-right: 5px;">min <br> {{getFixedNumber(subp.minBox)}}</span>
                                        <div class="my-input-container">
                                          <input *ngIf="subp.perBox != true" type="number" id="amount-{{subp.variation.id}}" placeholder="enter weight..." class="qty-number" (input)="handleInput($event, subp.variation.max, subp.variation.min, subp.variation.id, subp.type)" (change)="manualInput(subp.variation.max, subp.variation.min, subp.variation.id, subp.type)" (keydown.enter)="manualInput(subp.variation.max, subp.variation.min, subp.variation.id, subp.type)">
                                          <input *ngIf="subp.perBox == true" type="number" id="amount-{{subp.variation.id}}" placeholder="enter boxes..." class="qty-number" (input)="handleInput($event, subp.maxBox, subp.minBox, subp.variation.id, subp.type)" (change)="manualInput(subp.maxBox, subp.minBox, subp.variation.id, subp.type)" (keydown.enter)="manualInput(subp.maxBox, subp.minBox, subp.variation.id, subp.type)">
                                          <span class="suffix" [hidden]="isVacio('amount-'+subp.variation.id, subp.variation.id+ '-suffix')" [id]="subp.variation.id+ '-suffix'">{{getTag(subp, 'amount-'+subp.variation.id)}}</span>
                                        </div>
                                        <span *ngIf="subp.perBox != true"  class="amount-span" style="margin-left: 5px;">max <br> {{getFixedNumber(subp.variation.max)}}</span>
                                        <span *ngIf="subp.perBox == true"  class="amount-span" style="margin-left: 5px;">max <br> {{getFixedNumber(subp.maxBox)}}</span>
                                        <label id="delivere-price-{{subp.variation.id}}"><span>(delivered/{{subp?.unitOfSale}})</span> AED 12.99</label>
                                    </form>
                      
                                    <div *ngIf="!subp.cooming_soon && ( subp.variation.outOfStock || ( (getFixedNumber(subp.variation.max) == 0 && subp.perBox !== true ) || ( subp.perBox == true && getFixedNumber(subp.maxBox) == 0 ) ) )" > <h4>Out of Stock</h4></div>
                                    <div *ngIf="subp.cooming_soon" > <h4>Coming Soon</h4></div>
                                  </div>
                                 <div class="col-md-2 text-right">
                                   <a id="btn-add-{{subp.variation.id}}" [ngClass]="isDisabled == true ? 'btn-add-disable' : 'btn-add-enable'"  (click)="addToCart(subp)"><img src="../../assets/svg/cart-arrow-down.svg" alt=""></a> 
                                 </div>
                               </div>
                              </div>
                              <div class="product-body">
                                <a [hidden]='subp.perBox===true' *ngIf="!isChange[subp.variation.id]?.status" routerLink="/product/{{subp.id}}/{{subp.variation.min}}/{{getIdVarian(subp)}}/{{subp.variation.id}}" class="image-link-holder">
                                  <div class="product-single-img" [style.background-image]="loadImage(subp)">
                                    <div class="product-overlay"></div>
                                    <h2 class="product-view-details">VIEW DETAILS</h2>                      
                                 </div>
                                </a>
                                <a [hidden]='subp.perBox===false||subp.perBox===undefined||subp.perBox===null' *ngIf="!isChange[subp.variation.id]?.status" routerLink="/product/{{subp.id}}/{{subp.minBox}}/{{getIdVarian(subp)}}/{{subp.variation.id}}" class="image-link-holder">
                                  <div class="product-single-img" [style.background-image]="loadImage(subp)">
                                    <div class="product-overlay"></div>
                                    <h2 class="product-view-details">VIEW DETAILS</h2>                      
                                 </div>
                                </a>
                                <a *ngIf="isChange[subp.variation.id]?.status" routerLink="/product/{{subp.id}}/{{isChange[subp.variation.id].kg}}/{{getIdVarian(subp)}}/{{subp.variation.id}}" class="image-link-holder">
                                  <div class="product-single-img" [style.background-image]="loadImage(subp)">
                                    <div class="product-overlay"></div>
                                    <h2 class="product-view-details">VIEW DETAILS</h2>                      
                                 </div>
                                </a>
                              </div>
                      
                              <div class="product-footer">
                                  <h4>{{subp.name}} <span *ngIf="subp.variation.fishPreparation != null">({{subp?.variation?.fishPreparation?.name}})</span> </h4>
                                  <h6><a routerLink="/vendor/{{subp?.store?.id}}">{{subp?.store?.name}} ({{subp?.store?.location}})</a> 
                                    <span *ngIf="subp.perBox != true"> - In {{subp?.unitOfSale}}</span>
                                    <span *ngIf="subp.perBox == true"> - In Boxes</span>
                                  </h6>
                                </div>
                             
                          </div>
                      </div>
                    
                      
                    </div>
                    
                  </div>  
              <div class="nav nav-tabs" id="nav-tab-{{product[0]}}" role="tablist">
                <a *ngFor="let subp of product[1].variations; let vari = index;" class="nav-item nav-link" [class.active]="vari == 0" id="nav-tab-{{subp?.variation?.id}}" data-toggle="tab" href="#nav-{{subp?.variation?.id}}" role="tab" aria-controls="nav-home" aria-selected="true">{{subp?.variation?.wholeFishWeight?.name | lowercase}} <div class="small-circle"></div></a>
            
              </div>
              <div *ngIf='userInfo!==null' id="footer-holder-{{product[0]}}" class="single-product-box margin-5 tab-content multiple-bottom" style="padding-left: 5px;">
                  <div *ngFor="let subp of product[1].variations; let vari = index;" class="product-footer tab-pane fade" [class.active]="vari == 0" [class.show]="vari == 0" id="nav-footer-{{subp?.variation?.id}}">

                        <h5 id="product-price-{{subp.variation.id}}" *ngIf='userInfo!==null&&(subp.variation?.minPrice?.finalPrice) != (subp.variation?.maxPrice?.finalPrice) && subp.cooming_soon !== true'>AED {{(subp.variation?.minPrice?.finalPrice).toFixed(2)}}<span *ngIf="subp.variation?.maxPrice">-</span>{{(subp.variation?.maxPrice?.finalPrice).toFixed(2)}} / {{subp?.unitOfSale}} <small *ngIf="subp.perBox == true">({{subp.boxWeight}} {{subp?.unitOfSale}}/box)</small></h5>
                        <h5 id="product-price-{{subp.variation.id}}" *ngIf='userInfo!==null&&(subp.variation?.minPrice?.finalPrice) == (subp.variation?.maxPrice?.finalPrice) && subp.cooming_soon !== true'>AED {{(subp.variation?.maxPrice?.finalPrice).toFixed(2)}} / {{subp?.unitOfSale}} <small *ngIf="subp.perBox == true">({{subp.boxWeight}} {{subp?.unitOfSale}}/box)</small></h5>
                        <h5 id="product-price-{{subp.variation.id}}" *ngIf='userInfo===null'>AED {{subp.variation?.maxPrice?.finalPrice}} / {{subp?.unitOfSale}} <small *ngIf="subp.perBox == true">({{subp.boxWeight}} {{subp?.unitOfSale}}/box)</small></h5>
                        <p class="eta" *ngIf="subp.cooming_soon !== true">Delivery Date: {{subp?.minInventoryDate | date:'fullDate'}}</p>

                    </div>
              </div>
              <div class="signup-box" *ngIf='userInfo===null'>
                <button class="signup-btn" routerLink='/register/buyer'>SIGN UP TO VIEW PRICE</button>
              </div>
            </nav>
            
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<ng-template #elseBlock>
  <div class="not-found-grid">
    <p>{{'SingleStore.no-store' | translate}}</p>
  </div>
</ng-template>